.nav{
    padding: 20px;
}

.basic-info {
    text-align: center;
    padding: 50px;
}

.projects {
    text-align: center;
    padding-top: 30px;
}

.container {
    padding-top: 20px;
}